<%
/**
 * views/partials/mainSidebar.ejs
 *
 */%>


<div class="main-sidebar" tabindex="1" style="overflow: hidden; outline: none;">
  <aside id="sidebar-wrapper">

    <div class="sidebar-brand">
      <a href="/">Administrator</a>
    </div>
    <div class="sidebar-brand sidebar-brand-sm">
      <a href="/">Adm</a>
    </div>

    <%/* CONTENT SIDEBAR USER */%>
    <div class="sidebar-user">
      <div class="sidebar-user-picture">
        <img alt="image" src="<%= me.avatar %>" />
      </div>
      <div class="sidebar-user-details">
        <div class="user-name">{{ me.name }} {{ me.lastName }}</div>
        <div class="user-role">
          {{ me.roleName }}
        </div>
      </div>
    </div>

    <%/* CONTENIDO DEL SIDEBAR MENU */%>
    <ul class="sidebar-menu">

      <li class="menu-header">Dashboard</li>

      <li class="<%= menu.l1 === 'dashboard' ? 'active' : '' %>">
        <a class="nav-link" href="/"><i class="fas fa-fire"></i> <span>Dashboard</span></a>
      </li>


      <li class="<%= menu.l1 === 'customers' ? 'active' : '' %>">
        <a class="nav-link" href="/customers"><i class="fas fa-fire"></i> <span>Clientes</span></a>
      </li>


      <%/* Cuentas Maestras */%>
      <li class="menu-header">Modulos MasterFul</li>
      <li class="dropdown <%= menu.l1 === 'masterFul' ? 'active' : '' %>">
          <a href="#" class="nav-link has-dropdown"><i class="ion ion-ios-albums"></i> <span>Main MasterFul</span></a>
          <ul class="dropdown-menu">

          <li class="<%= menu.l2 === 'afp' ? 'active' : '' %>"><a class="nav-link" href="/masterFul/afp"><i class="ion ion-plane"> </i>AFP's</a></li>
          <li class="<%= menu.l2 === 'arl' ? 'active' : '' %>"><a class="nav-link" href="/masterFul/arl"><i class="ion ion-nuclear"> </i>ARL's</a></li>
          <li class="<%= menu.l2 === 'banks' ? 'active' : '' %>"><a class="nav-link" href="/masterFul/banks"><i class="ion ion-cash"> </i>Bancos</a></li>
          <li class="<%= menu.l2 === 'backAccounts' ? 'active' : '' %>"><a class="nav-link" href="/masterFul/bankAccounts"><i class="ion ion-chatbox-working"> </i>Bank Accounts</a></li>
            <li class="<%= menu.l2 === 'ccf' ? 'active' : '' %>"><a class="nav-link" href="/masterFul/ccf"><i class="ion ion-jet"> </i>CCF's</a></li>
            <li class="<%= menu.l2 === 'eps' ? 'active' : '' %>"><a class="nav-link" href="/masterFul/eps"><i class="ion ion-load-a"> </i>EPS's</a></li>
            <li class="<%= menu.l2 === 'holdings' ? 'active' : '' %>"><a class="nav-link" href="/masterFul/holdings"><i class="ion ion-pull-request"> </i>Holding</a></li>
          </ul>
        </li>

      <%/* Usuarios */%>
      <% if(me.role <= 3) { %>
        <li class="menu-header">Usuarios</li>
        <li class="dropdown <%= menu.l1 === 'usuarios' ? 'active' : '' %>">
          <a href="#" class="nav-link has-dropdown"><i class="fas fa-users"></i><span>Users</span></a>
          <ul class="dropdown-menu">
            <li class="<%= menu.l2 === 'users' ? 'active' : '' %>"><a class="nav-link" href="/users"><i class="fas fa-users"></i> Users</a></li>
            <% if(me.role <= 2) { %><li class="<%= menu.l2 === 'new' ? 'active' : '' %>"><a class="nav-link" href="/users/create"><i class="fas fa-user-plus"></i> New Users</a></li><% } %>
          </ul>
        </li>
      <% } %>
    </ul>

  </aside>
</div>

