<div id="listUsers" v-cloak>

  <%- partial('../../partials/navbar.ejs') %>
  <%- partial('../../partials/mainSidebar.ejs') %>

  <div class="main-content">
    <section class="section">

      <h1 class="section-header">
        <div><%= i18n('Users') %></div>
      </h1>

      <div class="row mt-5">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <div class="float-right">

                  <div class="input-group" v-show="search" >
                    <input type="text" class="form-control" placeholder="Search" v-model="searchs" v-on:keyup.enter="findOneSearch()">
                    <div class="input-group-btn">
                      <button class="btn btn-secondary" v-on:click="findEndSearch()"><i class="ion ion-close"></i></button>
                    </div>
                  </div>

              </div>
              <h4>Lista de Usuarios</h4>
            </div>
            <div class="card-body">

              <%/* Progresive bar */%>
              <div class="progress" v-show="progressBar">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                <br><br>
              </div>

              <%/* Alertas */%>
              <div class="row" v-show="alert.active">
                <div class="col-12">
                  <div class="alert alert-has-icon alert-dismissible show fade " :class="[alert.type]" >
                    <div class="alert-icon">
                      <i class="ion" :class="[alert.icon]"></i>
                    </div>
                    <div class="alert-body">
                      <button class="close" data-dismiss="alert">
                        <span>×</span>
                      </button>
                      <div class="alert-title">{{ alert.title }}</div>
                      {{ alert.message }}
                    </div>
                  </div>
                </div>
                <br>
              </div>

              <%/* CONTENIDO DE LA TABLA */%>
              <div class="row" v-show="tableData">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th class="text-right" width="50">#</th>
                        <th class="text-center">
                          <div class="custom-checkbox custom-control">
                            <input type="checkbox" data-checkboxes="mygroup" data-checkbox-role="dad" class="custom-control-input" id="allSelect"
                              v-model="allSelect" v-on:click="selectAll()">
                            <label for="allSelect" class="custom-control-label"></label>
                          </div>
                        </th>
                        <th>Nombre Completo</th>
                        <th>Email</th>
                        <th>Rol Name</th>
                        <th>Estado</th>
                        <th class="text-center" width="130">Action</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr v-for="(list, i) of listData" v-bind:id="'id-'+list.id">
                        <td class="text-right" width="50">{{ ((skip * limit) + i) + 1 }}</td>
                        <td width="40">
                          <div class="custom-checkbox custom-control">
                            <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" v-bind:id="'ch-'+list.id" v-model="list.check">
                            <label v-bind:for="'ch-'+list.id" class="custom-control-label"></label>
                          </div>
                        </td>
                        <td>{{ list.name }} {{ list.lastName }}</td>
                        <td>{{ list.emailAddress }}</td>
                        <td>{{ list.role }} - {{ list.roleName }}</td>
                        <td>{{ list.emailStatus }}</td>
                        <td width="130">
                          <div class="btn-group dropleft float-right">
                            <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Detalles
                            </button>
                            <div class="dropdown-menu" x-placement="left-start" style="position: absolute; transform: translate3d(-202px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
                              <a class="dropdown-item" v-on:click="findOneUser(list.id)">Ver Completo</a>
                              <a class="dropdown-item" v-on:click="findOneUserEdith(list.id)">Editar</a>
                              <a class="dropdown-item" v-on:click="toUnlockUser(list.id)">Desbloquear</a>
                              <% if( me.role === 0 ) { %>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" v-on:click="deleteUser(list.id)">Eliminar</a>
                              <% } %>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <%/* FIN DEL CONTENIDO DE LA TABLA */%>
            </div>

            <div class="card-footer">

              <%/* init footer */%>
              <div class="row" v-show="footerTable">

                <div class="col-md-12 col-lg-3 text-center" style="line-height: 33px;" v-show="countData">
                  <p>Resultados: {{ (limit * skip) + 1 }} - {{ listCount + (skip * limit) }} de {{ listFullCount }}</p>
                </div>

                <%/* NAVEGACION DE LAS PAGINAS */%>
                <div class="col-md-12 col-lg-5" >
                  <nav aria-label="Page navigation" style="justify-content: center;display: flex;" v-show="navegationsData">
                    <ul class="pagination">
                      <li class="page-item" :class="[pagination.prev]">
                        <p class="page-link" aria-label="Previous" v-on:click="paginationClick(pagination.a - 1)">
                          <span aria-hidden="true">«</span>
                          <span class="sr-only">Previous</span>
                        </p>
                      </li>

                      <%/* CONTINUACION PREV DE DATOS */%>
                      <li class="page-item disabled" v-show="pagination.pre">
                        <p class="page-link">...</p>
                      </li>

                      <li class="page-item"  v-for="(pin, i) of pagination.list" :class="[pin.aa]" v-show="pin.ss">
                        <p class="page-link" v-on:click="paginationClick(i)">{{ pin.nn }}</p>
                      </li>

                      <%/* CONTINUACION NEXT DE DATOS */%>
                      <li class="page-item disabled" v-show="pagination.nex">
                        <p class="page-link">...</p>
                      </li>

                      <li class="page-item" :class="[pagination.next]">
                        <p class="page-link" aria-label="Next" v-on:click="paginationClick(pagination.a + 1)">
                          <span aria-hidden="true">»</span>
                          <span class="sr-only">Next</span>
                        </p>
                      </li>
                    </ul>
                  </nav>
                </div>
                <%/* FIN NAVEGACION DE LAS PAGINAS */%>

                <%/* CANTIDAD DE RESULTADOS */%>
                <div class="col-12 col-lg-4 row" v-show="numResult" style="display: flex;justify-content: center;">
                  <label for="resultados" class="col-7t" style="line-height: 33px;"># Resultados: </label>
                  <select class="col-5 custom-select custom-select-sm" style="height: fit-content;max-width: 100px;margin-left: 10px;" v-model="limit" v-on:change="skipData()" width="100">
                    <option value="10" selected>10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="250">250</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
  </div>

  <%- partial('../../partials/footer.ejs') %>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
