<div id="list-users" v-cloak>
  <%- partial('../../partials/navbar.ejs') %>
  <%- partial('../../partials/mainSidebar.ejs') %>


  <div class="main-content">
    <section class="section">

      <h1 class="section-header">
        <div><%= i18n('Users') %></div>
      </h1>

      <section class="section-body row">

        <div class="col-12">
          <section class="card">

            <section class="card-header">
              <h4>Lista de Usuarios</h4>

              <div class="card-header-form" v-show="search" >
                <div class="input-group">
                  <input type="text" name="search" class="form-control" placeholder="Buscar Usuario" v-model="searchsText" v-on:keyup.enter="findOneSearch()">
                  <div class="input-group-btn">
                    <button class="btn btn-primary btn-icon" v-on:click="findEndSearch()"><i class="ion ion-close"></i></button>
                  </div>
                </div>
              </div>
            </section>

            <section class="card-body">

              <%/* Progresive bar */%>
              <div class="progress animated" :class="[progressBar.animated]" v-if="progressBar.active" style="margin-bottom: 15px">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
              </div>


              <%/* Alertas */%>
              <div class="row animated" :class="[alert.animated]" v-if="alert.active">
                <div class="col-12">
                  <div class="alert alert-has-icon alert-dismissible" :class="[alert.type]" >
                    <div class="alert-icon">
                      <i class="ion" :class="[alert.icon]"></i>
                    </div>
                    <div class="alert-body">
                      <!-- <button class="close" data-dismiss="alert">
                        <span>×</span>
                      </button> -->
                      <div class="alert-title">{{ alert.title }}</div>
                      {{ alert.message }}
                    </div>
                  </div>
                </div>
                <br>
              </div>


              <%/* CONTENIDO DE LA TABLA */%>
              <div class="row" v-show="tableData">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th class="text-right" width="50">#</th>
                        <th class="text-center" style="padding: 0 7px;">
                          <div class="btn-group">
                            <button type="button" class="btn btn-light btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 35px, 0px); top: 0px; left: 0px; will-change: transform;">
                              <div class="dropdown-title">Seleccionar</div>
                              <a class="dropdown-item" href="#" v-on:click="selectAll('a')"><i class="fas fa-check-square"> </i> Seleccionar Todo</a>
                              <a class="dropdown-item" href="#" v-on:click="selectAll('z')"><i class="fas fa-window-close"> </i> Deseleccionar Todo</a>
                              <a class="dropdown-item" href="#" v-on:click="selectAll('c')"><i class="fas fa-sign-in-alt"> </i> Invertir Seleción</a>
                            </div>
                          </div>
                        </th>
                        <th class="text-center" data-toggle="tooltip" title="" data-original-title="Nombre Completo">Nombre</th>
                        <th class="text-center" data-toggle="tooltip" title="" data-original-title="Correo Electronico del Usuario">Email</th>
                        <th class="text-center" data-toggle="tooltip" title="" data-original-title="Estado del usuario - Rol del usuario">St - Rol</th>
                        <th class="text-center" data-toggle="tooltip" title="" data-original-title="Estado del Email">Estado E</th>
                        <th class="text-right" data-toggle="tooltip" title="" data-original-title="Acciones que puedes hacer con el usuario" class="text-center" width="130">Action</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr v-for="(list, i) of listData" v-bind:id="'id-'+list.id">
                        <td class="text-right" width="50">{{ ((skip * limit) + i) + 1 }}</td>
                        <td width="40">
                          <div class="custom-checkbox custom-control">
                            <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" v-bind:id="'ch-'+list.id" v-model="list.check">
                            <label v-bind:for="'ch-'+list.id" class="custom-control-label"></label>
                          </div>
                        </td>
                        <td>{{ list.name }} {{ list.lastName }}</td>
                        <td :title="list.emailAddress">{{ list.emailAddress.substr(0, 12) }}...</td>
                        <td :title="list.roleName">{{ list.status }} - {{ list.role }} - {{ list.roleName.substr(0,7) }}... </td>
                        <td>{{ list.emailStatus }}</td>
                        <td width="130">
                          <div class="btn-group dropleft float-right">
                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Detalles
                            </button>
                            <div class="dropdown-menu" x-placement="left-start" style="position: absolute; transform: translate3d(-202px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
                              <a class="dropdown-item" href="#" v-on:click="findOneUserView(list.id)">Ver Completo</a>
                              <a class="dropdown-item" href="#" v-on:click="editUser(list.id)">Editar Usuario</a>
                              <a class="dropdown-item" href="#" v-on:click="toUnlockUser(list.id)">Desbloquear</a>
                              <% if( me.role === 0 ) { %>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#" title="Hace la petición para cambiar el E-mail">Cambiar su E-mail</a>
                              <a class="dropdown-item" href="#" title="Reenvia un email para Reconfirmar E-Mail">Reconfirmar E-mail</a>
                              <a class="dropdown-item" href="#" title="Envia un Email para recuperar contraseña">Reiniciar Contraseña</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#" v-on:click="deleteUser(list.id)">Eliminar</a>
                              <% } %>
                              <div class="dropdown-divider">Nuevos Para organizar</div>
                              <a class="dropdown-item" href="#">Bloquear/Desbloquear Cuenta</a>
                              <a class="dropdown-item" href="#">Activar/Desactivar Cuenta</a>
                              <a class="dropdown-item" href="#">Cambiar Avatar</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </section>

            <section class="card-footer row"  v-show="footerTable">

              <%/* CANTIDAD DE RESULTADOS Y VISTA DE RESULTADOS*/%>
              <div class="col-md-12 col-lg-3 text-center" style="line-height: 33px;" v-show="countData">
                <p>R: {{ (limit * skip) + 1 }} - {{ listCount + (skip * limit) }} de {{ listFullCount }}</p>
              </div>

              <%/* NAVEGACION DE LAS PAGINAS */%>
              <div class="col-md-12 col-lg-5" >
                <nav aria-label="Page navigation" style="justify-content: center;display: flex;" v-show="navegationsData">
                  <ul class="pagination">
                    <li class="page-item" :class="[pagination.prev]">
                      <p class="page-link" aria-label="Previous" v-on:click="paginationClick(pagination.a - 1)">
                        <span aria-hidden="true">«</span>
                        <span class="sr-only">Previous</span>
                      </p>
                    </li>

                    <%/* CONTINUACION PREV DE DATOS */%>
                    <li class="page-item disabled" v-show="pagination.pre">
                      <p class="page-link">...</p>
                    </li>

                    <li class="page-item"  v-for="(pin, i) of pagination.list" :class="[pin.aa]" v-show="pin.ss">
                      <p class="page-link" v-on:click="paginationClick(i)">{{ pin.nn }}</p>
                    </li>

                    <%/* CONTINUACION NEXT DE DATOS */%>
                    <li class="page-item disabled" v-show="pagination.nex">
                      <p class="page-link">...</p>
                    </li>

                    <li class="page-item" :class="[pagination.next]">
                      <p class="page-link" aria-label="Next" v-on:click="paginationClick(pagination.a + 1)">
                        <span aria-hidden="true">»</span>
                        <span class="sr-only">Next</span>
                      </p>
                    </li>
                  </ul>
                </nav>
              </div>

              <%/* CAMBIAR LA CANTIDAD DE RESULTADOS */%>
              <div class="col-12 col-lg-4 row" v-show="numResult" style="display: flex;justify-content: center;">
                <label for="resultados" class="col-7t" style="line-height: 33px;">Cantidad: </label>
                <select class="col-5 custom-select custom-select-sm" style="height: fit-content;max-width: 100px;margin-left: 10px;" v-model="limit" v-on:change="skipData()" width="100">
                  <option value="10" selected>10</option>
                  <option value="25" v-if="listCount >= 10 ? true : false">25</option>
                  <option value="50" v-if="listCount >= 25 ? true : false">50</option>
                  <option value="100" v-if="listCount >= 50 ? true : false">100</option>
                  <option value="250" v-if="listCount >= 100 ? true : false">250</option>
                </select>
              </div>

            </section>

          </section>
        </div>

      </section>

    </section>
  </div>

  <%/* PARTIALES DE LA PAGINA */%>
  <%- partial('./pm-view-and-edith-user.ejs') %>
  <%/* FIN PARTIALES DE LA PAGINA */%>

  <%- partial('../../partials/footer.ejs') %>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
