<div id="list" v-cloak>

  <%- partial('../../partials/navbar.ejs') %>
  <%- partial('../../partials/mainSidebar.ejs') %>

  <div class="main-content">
    <section class="section">

      <h1 class="section-header">
        <div><%= i18n('Users') %></div>
      </h1>

      <section class="section-body">
        <div class="jumbotron">
          <h3>Contenido Usuario</h3>
          <br><p>{{ me }}</p><br>
          <br>
        </div>
      </section>

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">Titulo Card</div>
            <div class="card-body">Contenidos</div>
          </div>
        </div>
      </div>

    </section>
  </div>

  <%- partial('../../partials/footer.ejs') %>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
