<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>

<div style=" font-size: 1.7em; text-align: left; ">
  <p>Confirmar Cambio de Contraseña</p>
</div>

<div id="contenido">
  <p>Hola: <%= fullName %></p>
  <p>Se acaba de solicitar el cambio de contraseña de manera forzada y a su vez se ha bloqueado el usuario a modo de seguridad, esta acción se realiza de manera manual por el admin o automatica en caso de que halla un error:</p>
  <p>Dale al boton de Confirmar para desbloquear y cambiar tu contraseña.</p>
  <br>
  <a href="<%= url.resolve(sails.config.custom.baseUrl[0],'/password/new')+'?token='+encodeURIComponent(token) %>" style="text-decoration: none;"> <button style=" width: 200px; height: 50px; background-color: #1A237E; border: 0px; border-style: none; margin: 0px auto; display: table; font-size: 1.3em; border-radius: 4px; cursor: pointer; color: #FFF; ">Confirmar</button> </a>
  <br>
  <p>Si no logras ver el boton pica aqui sobre el link:</p>
  <p>Link <a href="<%= url.resolve(sails.config.custom.baseUrl[0],'/password/new')+'?token='+encodeURIComponent(token) %>"><%= url.resolve(sails.config.custom.baseUrl[0],'/password/new')+'?token='+encodeURIComponent(token) %></a></p>

  <p>El token de este correo tiene una duracion de 24 horas desde el momento en que se genera.</p>
  <p>En caso de que halla expirado el tiempo, prueba con la opción de cambiar contraseña en la pagina del login o <a href="<%= url.resolve(sails.config.custom.baseUrl[0],'/password/forgot') %>">accede desde aqui</a></p>
  <p>Este correo expirara: <br><span><%= expira %></span></p>
</div>
