<div id="contacto" v-cloak>
  <section class="section">
    <div class="container mt-3">
      <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1">

          <div class="brand">
            <img src="/images/favicons/apple-icon-114x114.png">
          </div>

          <div class="card card-primary card-lg">
            <!-- Header Principal -->
            <div class="row">
              <div class="col-12 col-md-12 mt-2">
                <div class="container text-center">
                  <h1>Ponte en Contacto.</h1>
                  <p class="text-center col-10 offset-1">¿Tiene alguna pregunta para nosotros? Tal vez algunos
                    comentarios? Nos encanta hablar con los amigos, y nos complace responder preguntas sobre nuestros
                    precios, planes de trabajo o soluciones empresariales. Envíenos un mensaje y nos pondremos en
                    contacto con usted lo antes posible o si prefieres puedes comunicarte con nosotros a los telefonos
                    que aparecen en pantalla o E-mails</p>
                  <hr>
                </div>
              </div>
            </div>

            <!-- Contenidos -->
            <div class="row">

              <!-- Contacto lado izq -->
              <div class="col-12 col-md-12 col-lg-6">
                <div class="card-header text-center">
                  <h3>Envianos un Mensaje</h3>
                </div>
                <div class="card-body">
                  <div class="form-group">
                    <label for="full-name">Nombre Completo</label>
                    <input class="form-control" type="text" v-bind:class="[formErrors.fullName]" v-model="formData.fullName"
                      placeholder="Sturgis P. Sturgeon" autofocus>
                    <div class="invalid-feedback">Por favor ingrese su nombre completo aqui.</div>
                  </div>

                  <div class="form-group">
                    <label for="email-address">Email o Correo electronico</label>
                    <input class="form-control" type="email" v-bind:class="[formErrors.emailAddress]" v-model="formData.emailAddress"
                      placeholder="sturgeon@example.com">
                    <div class="invalid-feedback">Por favor ingrese un correo electronico Valido.</div>
                  </div>

                  <div class="form-group">
                    <label for="phone">Telefono de Contacto</label>
                    <input class="form-control" type="text" v-bind:class="[formErrors.phone]" v-model="formData.phone"
                      placeholder="(57) 300 1234567 | (4) 5556677">
                    <div class="invalid-feedback">Por favor ingrese su Numero de telefono.</div>
                  </div>

                  <div class="form-group">
                    <label for="topic">Asunto</label>
                    <input class="form-control" type="text" v-bind:class="[formErrors.topic]" v-model="formData.topic"
                      placeholder="Preguntar por precios">
                    <div class="invalid-feedback">Ingrese el Asunto del mensaje.</div>
                  </div>

                  <div class="form-group">
                    <label for="message">Mensaje</label>
                    <textarea rows="7" class="form-control" v-bind:class="[formErrors.message]" v-model="formData.message"
                      placeholder="¿Cuál es la diferencia entre &quot; Individual &quot; plan y el &quot; Profesional &quot; ¿plan?"
                      style="width: 100%"></textarea>
                    <div class="invalid-feedback">Ingrese su mensaje aqui.</div>
                  </div>

                  <p class="text-danger" v-if="cloudError"><small>Se ha presentado un error al procesar el mensaje. Por
                      favor verifique su información e intentelo de nuevo, o <a href="/contacto">contacte con soporte</a>
                      si persiste el error.</small></p>
                  <div class="form-group">
                    <button :syncing="syncing" class="btn btn-dark btn-lg btn-block" v-on:click="sendMessageContact()">Enviar
                      Mensaje</button>
                  </div>

                </div>

                <div class="success-message" v-if="cloudSuccess">
                  <p class="text-center">Gracias por contactarnos!</p>
                  <hr />
                  <p>Hemos recibido tu mensaje y alguien de nuestro equipo te responderá pronto.</p>
                </div>

              </div>

              <!-- lado der -->
              <div class="col-12 col-md-12 col-lg-6">
                <div class="card-header text-center">
                  <h3>Telefonos y Correos</h3>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-6">
                      <h5><i class="fab fa-whatsapp"></i> WhatsApp:</h5>
                      <p><a href="http://api.whatsapp.com/send?phone=<%- sails.config.custom.contacto.whatsapp.link %>&text=Hola %0AMi nombre es:%0AEstoy contactando por el App administrator"
                          target="_bank"><%- sails.config.custom.contacto.whatsapp.vista %></a></p>
                    </div>

                  </div>
                  <div class="row mt-4">
                    <div class="col-6">
                      <h5><i class="fas fa-mobile-alt"></i> Celular:</h5>
                      <p><%- sails.config.custom.contacto.telefonoCelular.vista %></p>
                    </div>
                    <div class="col-6">
                      <h5><i class="fas fa-phone"></i> Telefono Fijo:</h5>
                      <p><%- sails.config.custom.contacto.telefonoFijo.vista %></p>
                    </div>
                  </div>

                  <div class="row mt-4">
                    <div class="col-6">
                      <h5><i class="fas fa-location-arrow"></i> Ubicación:</h5>
                      <p><%- sails.config.custom.contacto.ubicacion %></p>
                    </div>
                    <div class="col-6">
                      <h5><i class="fas fa-map-marker-alt"></i> Ver Mapa</h5>
                      <p><a href="#" v-on:click="modalMapa()">Abrir Mapa de Ubicación</a></p>
                    </div>
                  </div>

                  <div class="row mt-4">
                    <div class="col-12">
                      <h5><i class="fas fa-email"></i>Correo Electronico</h5>
                      <p><a href="mailto:<%- sails.config.custom.contacto.email %>"><%- sails.config.custom.contacto.email %></a> </p>
                    </div>
                  </div>

                  <div class="row mt-4">
                    <div class="col-12">
                      <h5>Regresar</h5>
                      <div class="form-group">
                        <a href="javascript:window.history.back();" class="btn">Regresar a la pagina anterior</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%/* MODAL DEL MAPA DE UBICACIÓN */%>
  <div class="modal fade" tabindex="-1" role="dialog" id="m-mapa" data-keyboard="true" aria-labelledby="m-mapa"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">

        <%/* HEADER MODAL */%>
        <div class="modal-header">
          <h5 class="modal-title">Mapa de Ubicación</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <%/* BODY MODAL */%>
        <div class="modal-body">
          <div class="container-fluit">

            <section class="row">
              <div class="col-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63458.369948475156!2d-75.61623095432081!3d6.244202292885608!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e4428f8a25d97c9%3A0x4acd7ae72ed66caf!2sEDIFICIO+SEGUROS+BOLIVAR!5e0!3m2!1ses-419!2sco!4v1541811044552"
                  frameborder="0" style="border: 0px;width: 100%;min-height: 720px;"></iframe>
              </div>
            </section>
          </div>
        </div>

      </div>
    </div>
  </div>
  <%/* END MODAL DEL MAPA DE UBICACIÓN */%>

  <%/* LOADING */%>
  <div class="container-fluit m-loading-content" v-show="sendMessageModal" style="display: none;">
    <div class="row m-loading-popup">
      <div class="col-12 text-center">
        <h2>Enviando Mensaje...</h2>
      </div>
      <div class="form-divider"></div>
      <div class="col-12">
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
            aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>
      </div>
    </div>
  </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
