<div id="login" v-cloak class="h-100">

  <section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center align-items-center h-100">
				<div class="card-wrapper">
					<div class="brand">
						<img src="/images/favicons/apple-icon-114x114.png">
					</div>
          <div class="card fat">

            <%/* FORM LOGIN */%>
						<div class="card-body" v-show="!progressLogin">
							<h4 class="card-title"><%= typeof(i18n('Login.title')) === 'undefinded' ? 'Login' : i18n('Login.title') %></h4>


                <div class="form-group">
									<label for="email"><%= typeof(i18n('Login.email')) === 'undefinded' ? 'Email:' : i18n('Login.email') %></label>
                  <input id="email" type="email" class="form-control" name="email" value="" required :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model="formData.emailAddress" @change="validateEmail()" focus-first>
                  <div class="invalid-feedback" v-if="formErrors.emailValid" ><%= i18n('Login.email Error') %></div>
                  <div class="invalid-feedback" v-if="formErrors.emailLoginError" >Error al iniciar Sesión</div>
								</div>

								<div class="form-group">
									<label for="password"><%= typeof(i18n('Login.password')) === 'undefinded' ? 'Password' : i18n('Login.password') %>
										<a href="/password/forgot" class="float-right" >
											<%= typeof(i18n('Login.forgot')) === 'undefinded' ? 'Forgot password?' : i18n('Login.forgot') %>
										</a>
									</label>
                  <input id="password" type="password" class="form-control" name="password" required data-eye :class="[formErrors.password ? 'is-invalid' : '']" v-model="formData.password" @change="validatePassword()" @keyup.enter="submittedLogin()">
                  <div class="invalid-feedback" v-if="formErrors.password"></div>
								</div>

								<div class="form-group">
									<label>
										<input type="checkbox" name="remember" v-model="formData.rememberMe"> <%= typeof(i18n('Login.remember')) === 'undefinded' ? 'Remember Me' : i18n('Login.remember') %>
									</label>
				  			</div>

								<div class="form-group no-margin">
									<button type="button" class="btn btn-primary btn-block" @click="submittedLogin()">
										<%= typeof(i18n('Login.title')) === 'undefinded' ? 'Login' : i18n('Login.title') %>
									</button>
								</div>
								<div class="margin-top20 text-center">
									<%= typeof(i18n('Login.no acount')) === 'undefinded' ? 'Don\'t have an account?' : i18n('Login.no acount') %> <a href="/singup"><%= typeof(i18n('Login.acount create')) === 'undefinded' ? 'Create One' : i18n('Login.acount create') %></a>
								</div>
            </div>

            <%/* PROGRESS LOGIN */%>
            <div class="card-body" v-show="progressLogin">
              <h4 class="card-title"><%= typeof(i18n('Login.title')) === 'undefinded' ? 'Login' : i18n('Login.title') %></h4>

              <div class="form-group">
                <p>Iniciando Sesión</p>
                <br>
                <div class="progress mb-3">
                  <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>

					</div>
					<div class="footer">
						<a class="nav-link text-info" href="/contacto">Contacte<span class="d-none d-sm-inline"> a soporte</span></a>
          </div>
				</div>
			</div>
		</div>
	</section>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>


