<div id="holdings-list" v-cloak>

  <%- partial('../../../partials/navbar.ejs') %>
  <%- partial('../../../partials/mainSidebar.ejs') %>

  <div class="main-content">
    <section class="section">

      <h1 class="section-header">
        <div>Empresas del Holding</div>
        <div class="section-header-breadcrumb dropdown">
          <a href="javascript:void(0)" data-toggle="dropdown" class="btn btn-outline-dark">Acciones</a>
          <ul class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
            <li><a href="javascript:void(0)" class="dropdown-item" v-on:click="btnOpenModalCreateH('open')">Agregar Nueva Empresa</a></li>
          </ul>
        </div>
      </h1>

      <div class="row mt-5">
        <div class="col-12">
          <div class="card">
            <section class="card-header">
              <h4>Lista:</h4>

              <div class="card-header-form" v-show="search" style="display:none;">
                <div class="input-group" v-if="search">
                  <input type="text" name="search" class="form-control" placeholder="Buscar Empresa" v-model="searchsText" v-on:keyup.enter="searchFor()">
                  <div class="input-group-btn">
                    <button class="btn btn-primary btn-icon" v-on:click="searchForEnd()"><i class="ion ion-close"></i></button>
                  </div>
                </div>
              </div>
            </section>


            <section class="card-body">

              <%/* Progresive bar */%>
              <div class="progress animated" :class="[progressBar.animated]" v-show="progressBar.active" style="margin-bottom: 15px;">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
              </div>


              <%/* Alertas */%>
              <div class="row animated" :class="[alert.animated]" v-show="alert.active" style="display:none;">
                <div class="col-12" v-if="alert.active">
                  <div class="alert alert-has-icon alert-dismissible" :class="[alert.type]" >
                    <div class="alert-icon">
                      <i class="ion" :class="[alert.icon]"></i>
                    </div>
                    <div class="alert-body">
                      <button class="close" v-on:click="closeAlertD()">
                        <span>×</span>
                      </button>
                      <div class="alert-title">{{ alert.title }}</div>
                      {{ alert.message }}
                    </div>
                  </div>
                </div>
                <br>
              </div>

              <%/* CONTENIDO DE LA TABLA */%>
              <div class="row" v-show="tableData" style="display:none;">
                <div class="table-responsive" v-if="tableData">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th class="text-right" width="50">#</th>
                        <th class="text-center" style="padding: 0 7px;">
                          <div class="btn-group">
                            <button type="button" class="btn btn-light btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 35px, 0px); top: 0px; left: 0px; will-change: transform;">
                              <div class="dropdown-title">Seleccionar</div>
                              <a class="dropdown-item" href="#" v-on:click="selectAll('a')"><i class="fas fa-check-square"> </i> Seleccionar Todo</a>
                              <a class="dropdown-item" href="#" v-on:click="selectAll('z')"><i class="fas fa-window-close"> </i> Deseleccionar Todo</a>
                              <a class="dropdown-item" href="#" v-on:click="selectAll('c')"><i class="fas fa-sign-in-alt"> </i> Invertir Seleción</a>
                            </div>
                          </div>
                        </th>
                        <th class="text-center" data-toggle="tooltip" title="" data-original-title="Siglas del nombre de la empresa">Nombre</th>
                        <th class="text-center" data-toggle="tooltip" title="" data-original-title="Numero de identificación tributaria">Nit</th>
                        <th class="text-center" data-toggle="tooltip" title="" data-original-title="Eltimo año de renovación">U Renovación</th>
                        <th class="text-center" data-toggle="tooltip" title="" data-original-title="Estado de la compañia">Estado</th>
                        <th class="text-center" data-toggle="tooltip" title="" data-original-title="Estado del usuario - Rol del usuario">balance</th>
                        <th class="text-right" data-toggle="tooltip" title="" data-original-title="Acciones" class="text-center" width="130">Action</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr v-for="(list, i) of listData" v-bind:id="'id-'+list.id">
                        <td class="text-right" width="50">{{ ((skip * limit) + i) + 1 }}</td>
                        <td width="40">
                          <div class="custom-checkbox custom-control">
                            <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" v-bind:id="'ch-'+list.id" v-model="list.check">
                            <label v-bind:for="'ch-'+list.id" class="custom-control-label"></label>
                          </div>
                        </td>
                        <td class="text-center">{{ list.acronym }}</td>
                        <td class="text-center">{{ list.identification }} {{ list.consecutive }}</td>
                        <td class="text-center">{{ list.renewedDate }}</td>
                        <td class="text-center">{{ list.status }} - {{ list.statusName }}</td>
                        <td class="text-right">{{ list.balance }}</td>
                        <td width="130">

                          <div class="btn-group dropleft float-right">
                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Detalles
                            </button>
                            <div class="dropdown-menu" x-placement="left-start" style="position: absolute; transform: translate3d(-202px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
                              <a class="dropdown-item" href="#" v-on:click="oneViewCompany(list.id)">Ver Completo</a>
                              <a class="dropdown-item" href="#" v-on:click="editOneCompany(list.id)">Editar Empresa</a>
                              <a class="dropdown-item" href="#" v-on:click="deleteCompany(list.id)">Borrar Empresa</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </section>

            <section class="card-footer row"  v-show="footerTable" style="display:none;">

              <%/* CANTIDAD DE RESULTADOS Y VISTA DE RESULTADOS*/%>
              <div class="col-md-12 col-lg-3 text-center" style="line-height: 33px;" v-show="countData">
                <p>R: {{ (limit * skip) + 1 }} - {{ listCount + (skip * limit) }} de {{ listFullCount }}</p>
              </div>

              <%/* NAVEGACION DE LAS PAGINAS */%>
              <div class="col-md-12 col-lg-5" >
                <nav aria-label="Page navigation" style="justify-content: center;display: flex;" v-show="navegationsData">
                  <ul class="pagination">
                    <li class="page-item" :class="[pagination.prev]">
                      <p class="page-link" aria-label="Previous" v-on:click="paginationClick(pagination.a - 1)">
                        <span aria-hidden="true">«</span>
                        <span class="sr-only">Previous</span>
                      </p>
                    </li>

                    <%/* CONTINUACION PREV DE DATOS */%>
                    <li class="page-item disabled" v-show="pagination.pre">
                      <p class="page-link">...</p>
                    </li>

                    <li class="page-item"  v-for="(pin, i) of pagination.list" :class="[pin.aa]" v-show="pin.ss">
                      <p class="page-link" v-on:click="paginationClick(i)">{{ pin.nn }}</p>
                    </li>

                    <%/* CONTINUACION NEXT DE DATOS */%>
                    <li class="page-item disabled" v-show="pagination.nex">
                      <p class="page-link">...</p>
                    </li>

                    <li class="page-item" :class="[pagination.next]">
                      <p class="page-link" aria-label="Next" v-on:click="paginationClick(pagination.a + 1)">
                        <span aria-hidden="true">»</span>
                        <span class="sr-only">Next</span>
                      </p>
                    </li>
                  </ul>
                </nav>
              </div>

              <%/* CAMBIAR LA CANTIDAD DE RESULTADOS */%>
              <div class="col-12 col-lg-4 row" v-show="numResult" style="display: flex;justify-content: center;">
                <label for="resultados" class="col-7t" style="line-height: 33px;">Cantidad: </label>
                <select class="col-5 custom-select custom-select-sm" style="height: fit-content;max-width: 100px;margin-left: 10px;" v-model="limit" v-on:change="skipData()" width="100">
                  <option value="10" selected>10</option>
                  <option value="25" v-if="listFullCount >= 10 ? true : false">25</option>
                  <option value="50" v-if="listFullCount >= 25 ? true : false">50</option>
                  <option value="100" v-if="listFullCount >= 50 ? true : false">100</option>
                  <option value="250" v-if="listFullCount >= 100 ? true : false">250</option>
                </select>
              </div>

            </section>
          </div>
        </div>
      </div>
    </section>
  </div>


  <%- partial('../../../partials/footer.ejs') %>

  <%- partial('./pm-create') %>
  <%- partial('./pm-view-and-edit') %>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
